# Data Description
- Author: Chen-Hung Peng
- Date first created: 2025-10-14
- Background: 簡述資料內容
- Unit of observation: 3993
- Sample period: 2002-2024
- Known issues:  None
- Definition for each variable: 
    - `date`：日期
    - `year`：年份
    - `month`：月份
    - `city_code`：城市代碼
    - `city`：城市
    - `station`：氣象測站
    - `pop_density`：人口密度
    - `pop_total`：人口總數
    - `pop_0-14`：0至14歲人口
    - `pop_15-64`：15至64歲人口
    - `pop_0-65up`：65歲以上人口
    - `sunshine_hours`：日照時數
    - `avg_humidity`：月平均相對濕度
    - `avg_temp`：月平均氣溫
    - `rainy_days`：月降水日數
    - `precipitation`：月降水量
    - `theft_cases`：竊盜發生件數
    - `traffic_accident_cases`：駕駛過失發生件數
    - `alcohol_drive_cases`：酒駕發生件數
    - `general_injury_cases`：一般傷害發生件數
    - `total_crime_exclude_traffic`：刑案總件數(不含駕駛過失)
    - `sexual_assault_cases`：刑案總件數(不含駕駛過失)
    - `violent_crime_cases`：暴力犯罪發生件數
    - `drug_cases`：毒品查獲件數

In [4]:
import pandas as pd

## Change for Your Own Data

In [5]:
input_data_file = "C:/Users/Luca/Desktop/Course/03_Data_Science_and_Social_Inquiry/04_Final_Project/02_data/02_processed/04-weather-crime-pop.csv"

In [6]:
df = pd.read_csv(input_data_file)

### Sample

In [7]:
df.head(10)

,date,year,month,city_code,city,station,pop_density,pop_total,pop_0-14,pop_15-64,...,rainy_days,precipitation,theft_cases,traffic_accident_cases,alcohol_drive_cases,general_injury_cases,total_crime_exclude_traffic,sexual_assault_cases,violent_crime_cases,drug_cases
0,2002/1/1,2002,1,1,基隆市,基隆,2948.58,390906,78803,276579,...,13.0,177.1,446,2,32,19,635,3,19,26
1,2002/2/1,2002,2,1,基隆市,基隆,2948.58,390636,78661,276343,...,13.0,145.5,591,1,33,11,885,14,53,121
2,2002/3/1,2002,3,1,基隆市,基隆,2948.58,390732,78543,276486,...,13.0,204.5,497,5,31,13,700,8,24,47
3,2002/4/1,2002,4,1,基隆市,基隆,2948.58,390924,78459,276678,...,12.0,100.5,506,5,37,16,690,2,16,41
4,2002/5/1,2002,5,1,基隆市,基隆,2948.58,390915,78379,276741,...,13.0,97.9,476,1,32,17,675,6,18,57
5,2002/6/1,2002,6,1,基隆市,基隆,2948.58,390764,78235,276705,...,16.0,319.5,440,6,28,19,687,7,23,70
6,2002/7/1,2002,7,1,基隆市,基隆,2948.58,390765,78121,276781,...,8.0,273.2,432,7,39,11,629,6,14,45
7,2002/8/1,2002,8,1,基隆市,基隆,2948.58,390992,78064,277008,...,9.0,88.6,560,4,36,16,810,9,46,56
8,2002/9/1,2002,9,1,基隆市,基隆,2948.58,391047,77899,277151,...,15.0,210.9,287,7,36,8,459,2,30,57
9,2002/10/1,2002,10,1,基隆市,基隆,2948.58,391189,77696,277383,...,16.0,294.8,397,6,27,19,622,11,32,61

### Summary Stats

In [8]:
df.describe()

,year,month,city_code,pop_density,pop_total,pop_0-14,pop_15-64,pop_65up,sunshine_hours,avg_humidity,...,rainy_days,precipitation,theft_cases,traffic_accident_cases,alcohol_drive_cases,general_injury_cases,total_crime_exclude_traffic,sexual_assault_cases,violent_crime_cases,drug_cases
count,5796.000000,5796.00000,5796.000000,5796.000000,5.796000e+03,5796.000000,5.796000e+03,5796.000000,4506.000000,5072.000000,...,5608.000000,5608.00000,5796.000000,5796.000000,5796.000000,5796.000000,5796.000000,5796.000000,5796.000000,5796.00000
mean,2013.000000,6.50000,11.761905,1556.617992,1.104177e+06,168396.253968,7.974093e+05,138371.346963,153.008389,78.046530,...,10.286377,167.45954,549.395100,47.614907,172.224120,47.561939,1382.049689,14.817633,20.387336,172.06746
std,6.633822,3.45235,6.376881,2184.972489,1.077918e+06,169448.305894,7.923263e+05,135293.409733,60.246325,5.977329,...,5.852203,211.23212,928.973614,72.674098,189.787282,58.436389,1625.313402,16.416654,40.516309,178.10636
min,2002.000000,1.00000,1.000000,59.800000,8.712000e+03,1377.000000,6.359000e+03,840.000000,1.300000,57.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2007.000000,3.75000,7.000000,293.980000,3.274720e+05,42760.750000,2.354778e+05,41257.250000,106.600000,74.000000,...,6.000000,30.97500,73.000000,5.000000,40.000000,12.000000,400.750000,5.000000,1.000000,48.00000
50%,2013.000000,6.50000,12.000000,845.330000,5.605235e+05,87255.500000,3.887245e+05,90929.500000,152.800000,78.000000,...,10.000000,95.00000,209.500000,18.000000,103.000000,26.000000,673.000000,10.000000,5.000000,109.00000
75%,2019.000000,9.25000,17.000000,1792.060000,1.875278e+06,303302.000000,1.362228e+06,201818.750000,196.800000,82.000000,...,14.000000,220.10000,536.250000,48.000000,238.000000,55.000000,1880.250000,21.000000,17.000000,246.00000
max,2024.000000,12.00000,22.000000,9951.480000,4.047112e+06,750157.000000,3.036639e+06,768492.000000,364.300000,99.000000,...,30.000000,3144.50000,6688.000000,635.000000,1466.000000,596.000000,10678.000000,542.000000,335.000000,1368.00000

### Assertions

In [ ]:
# Write assertions here—conditions that should always hold in the data.
# Use them to demonstrate that you have carefully checked the data’s correctness.