# Data Description
- Background: 本資料呈現各縣市各月份的人口數量
- date received: 2025-11-25
- Last Modified: 郭秉豐

- Path to data file: `/fa-25-econ-5166-group-4/data/raw/`
- Unit of observation: city-month，每一筆資料是「每個縣市在各個月份的人口數」
- Sample period: 2002-2024
- Known issues:
    - 因應2010年臺中、臺南、高雄縣市合併，以及2013年桃園縣市合併，此資料已經將該時間點以前的資料合併成一個縣市
- Definition for each variable: 
    - `date`：識別用日期（每個月的第一天）
    - `year`：年份
    - `month`：月份
    - `city`：城市名稱
    - `pop_total`：總人口數
    - `pop_0-14`：0-14歲人口數
    - `pop_15-64`：15-64歲人口數
    - `pop_65up`：65歲以上之人口數

In [1]:
import pandas as pd

## Change for Your Own Data

In [4]:
input_data_file = "/Users/windkuo1017/Desktop/NTU_local/fa-25-econ-5166-group-4/data/raw/03-population-new.csv"

## Summary

In [5]:
df = pd.read_csv(input_data_file)

### Sample

In [6]:
df.head(10)

,date,year,month,city_code,city,pop_total,pop_0-14,pop_15-64,pop_65up
0,2002-01-01,2002,1,1,基隆市,390906.0,78803.0,276579.0,35524.0
1,2002-02-01,2002,2,1,基隆市,390636.0,78661.0,276343.0,35632.0
2,2002-03-01,2002,3,1,基隆市,390732.0,78543.0,276486.0,35703.0
3,2002-04-01,2002,4,1,基隆市,390924.0,78459.0,276678.0,35787.0
4,2002-05-01,2002,5,1,基隆市,390915.0,78379.0,276741.0,35795.0
5,2002-06-01,2002,6,1,基隆市,390764.0,78235.0,276705.0,35824.0
6,2002-07-01,2002,7,1,基隆市,390765.0,78121.0,276781.0,35863.0
7,2002-08-01,2002,8,1,基隆市,390992.0,78064.0,277008.0,35920.0
8,2002-09-01,2002,9,1,基隆市,391047.0,77899.0,277151.0,35997.0
9,2002-10-01,2002,10,1,基隆市,391189.0,77696.0,277383.0,36110.0

### Summary Stats

In [7]:
df.describe()

,year,month,city_code,pop_total,pop_0-14,pop_15-64,pop_65up
count,5796.000000,5796.00000,5796.000000,5.796000e+03,5796.000000,5.796000e+03,5796.000000
mean,2013.000000,6.50000,11.761905,1.104177e+06,168396.253968,7.974093e+05,138371.346963
std,6.633822,3.45235,6.376881,1.077918e+06,169448.305894,7.923263e+05,135293.409733
min,2002.000000,1.00000,1.000000,8.712000e+03,1377.000000,6.359000e+03,840.000000
25%,2007.000000,3.75000,7.000000,3.274720e+05,42760.750000,2.354778e+05,41257.250000
50%,2013.000000,6.50000,12.000000,5.605235e+05,87255.500000,3.887245e+05,90929.500000
75%,2019.000000,9.25000,17.000000,1.875278e+06,303302.000000,1.362228e+06,201818.750000
max,2024.000000,12.00000,22.000000,4.047112e+06,750157.000000,3.036639e+06,768492.000000