# Data Description
- Background: 本資料呈現各縣市各月份的人口數量
- date received: 2025-10-31
- Path to data file: `/fa-25-econ-5166-group-4/data/raw/`
- Unit of observation: city-month，每一筆資料是「每個縣市在各個月份的人口數」
- Sample period: 2002-2024
- Known issues:
    - 因應2010年臺中、臺南、高雄縣市合併，以及2013年桃園縣市合併，此資料已經將該時間點以前的資料合併成一個縣市
- Definition for each variable: 
    - `date`：識別用日期（每個月的第一天）
    - `year`：年份
    - `month`：月份
    - `city`：城市名稱
    - `pop`：人口數

In [1]:
import pandas as pd

## Change for Your Own Data

In [2]:
input_data_file = "/Users/windkuo1017/Desktop/NTU_local/fa-25-econ-5166-group-4/data/raw/03-population.csv"

## Summary

In [3]:
df = pd.read_csv(input_data_file)

### Sample

In [5]:
df.head(10)

       date  year  month city      pop
0  2002/1/1  2002      1  南投縣   542007
1  2002/1/1  2002      1  嘉義市   267711
2  2002/1/1  2002      1  嘉義縣   563519
3  2002/1/1  2002      1  基隆市   390906
4  2002/1/1  2002      1  宜蘭縣   465966
5  2002/1/1  2002      1  屏東縣   909602
6  2002/1/1  2002      1  彰化縣  1314591
7  2002/1/1  2002      1  新北市  3612495
8  2002/1/1  2002      1  新竹市   373691
9  2002/1/1  2002      1  新竹縣   446977

### Summary Stats

In [6]:
df.describe()

              year        month           pop
count  6072.000000  6072.000000  6.072000e+03
mean   2013.000000     6.500000  1.053987e+06
std       6.633796     3.452337  1.068523e+06
min    2002.000000     1.000000  8.712000e+03
25%    2007.000000     3.750000  3.344265e+05
50%    2013.000000     6.500000  5.353625e+05
75%    2019.000000     9.250000  1.865840e+06
max    2024.000000    12.000000  4.047112e+06